<div class="sidebar">
    <div>
        Mathematics undergrad at the National University of Singapore. Interested in mathematics, algorithm design, and classical music
    </div>
    <div class="socials-bar">
        <span>
            <a href="https://github.com/biinnnggggg">Github</a>
        </span>
        <span>
            <a href="https://www.linkedin.com/in/chinzhening/">LinkedIn</a> 
        </span>
        <span>
            <a href="https://www.instagram.com/bing._.chin/">Instagram</a>
        </span>
    </div>
    <div>
        <ul class="navbar">
            <li>
                <a aria-current="page" class="active" href="index.html">Posts</a>
            </li>
            <li>
                <a aria-current="page"class="active" href="index.html">Books</a>
            </li>
            <li>
                <a aria-current="page"class="active" href="index.html">Coursework</a>
            </li>
            <li>
                <a aria-current="page"class="active" href="index.html">Notes</a>
            </li>
        </ul>
    </div>
</div>